[Unit]
Description=The snappy web interface for your 3D printer
After=network-online.target
Wants=network-online.target

[Service]
Environment="HOST=0.0.0.0"
Environment="PORT={{ octoprint_port }}"
Type=simple
User={{ octoprint_user }}
ExecStart=/home/{{ octoprint_user }}/Octoprint/venv/bin/octoprint serve --host=${HOST} --port=${PORT}

[Install]
WantedBy=multi-user.target
